<section data-ng-controller="<%=formalEntityName%>sController" data-ng-init="find()">
    <ul class="<%=entityName%>s unstyled">
        <li data-ng-repeat="<%=entityName%> in <%=entityName%>s">
            <span>{{<%=entityName%>.created | date:'medium'}}</span> /
            <span>{{<%=entityName%>.user.name}}</span>
            <h2><a data-ng-href="#!/<%=entityName%>s/{{<%=entityName%>._id}}">{{<%=entityName%>.name}}</a></h2>
            <div>{{<%=entityName%>.description}}</div>
        </li>
    </ul>
    <h1 data-ng-hide="!<%=entityName%>s || <%=entityName%>s.length">No <%=entityName%>s yet. <br> Why don't you <a href="/#!/<%=entityName%>s/create">Create One</a>?</h1>
</section>