<section data-ng-controller="<%= entityName %>sController" data-ng-init="findOne()">
    <span>{{<%= _.slugify(entityName) %>.created | date:'medium'}}</span>/
    <span>{{<%= _.slugify(entityName) %>.user.name}}</span>
    <h2>{{<%= _.slugify(entityName) %>.name}}</h2>
    <div data-ng-show="global.user._id == <%= _.slugify(entityName) %>.user._id">
        <a class="btn" href="/#!/<%= _.slugify(entityName) %>s/{{<%= _.slugify(entityName) %>._id}}/edit">
        	<i class="icon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="icon-trash"></i>
        </a>
    </div>
    <div>{{<%= _.slugify(entityName) %>.description}}</div>
</section>
