<section data-ng-controller="<%=formalEntityName%>sController" data-ng-init="findOne()">
    <span>{{<%=entityName%>.created | date:'medium'}}</span> /
    <span>{{<%=entityName%>.user.name}}</span>
    <h2>{{<%=entityName%>.name}}</h2>
    <div data-ng-show="global.user._id == <%=entityName%>.user._id">
        <a class="btn" href="/#!/<%=entityName%>s/{{<%=entityName%>._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>{{<%=entityName%>.description}}</div>
</section>
